
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
ul{
    list-style-type: none;
    padding: 0;
}
a{
    color: black;
    text-decoration: none;
}
/*CSS reset */

:root{
    --green: rgba(176,181,107,0.1);
    --skin: rgba(255,230,153,1);
    --purple: rgba(228,136,171,1);
    --grey: rgba(175,171,171,0.7);
}
/* body */
body{
    display: flex;
    font-family: 'Roboto Slab', serif;

}
/* body */

/* nav */
.nav{
    width: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: width 0.2s ease-in-out;
    background-color: var(--green);
    font-size: 1.3em;
}
.nav__logo{
    margin-top: 20px;
    height: 6%;
    font-size: 3.5em;
    font-family: 'Niconne', cursive;

}
.nav__list{
    font-size: 1.7em;
    margin-top: 150px;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.nav__link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    font-size: 1.2em;
    overflow: hidden;
}
.nav__list li{
    text-align: center;
    padding: 10px 0;
    width: 100%;
    transition: background-color 0.2s ease-in;
}
.nav__list li:hover {
    background-color: rgba(150, 150, 150, 0.2);
}
/* nav */


/* main */
main{
    width: 100vw;
    line-height: 1.8em;
    height: fit-content;
    min-height: 100vh;
    background-color: var(--green);
}
.main__nav{
    height: 12vh;
    width: 100vw;
    display: flex;
    align-items: center;
    background-color: var(--purple);
    position: sticky;
    top: 0;
    z-index: 5;
    font-size: 1.3em;
}
.main__nav h1{
    color: white;
    letter-spacing: 6px;
    font-weight: 500;
    width: 90vw;
    text-align: center;
    padding-left: 10%;
}
.main__nav button{
    background-color: transparent;
    border: none;
    width: 10vw;
    font-size: 1.8em;
    color: white;
    margin-right: 2%;
}
.main__container{
    width: 100%;
    margin: 0 auto;
    padding: 15px;
    font-size: 1.3em;
}

main h2{
    color: var(--purple);
    margin: 10px 0;
    font-weight: 400;
}
#h2{
    display: none;
}
.main__container img{
    width: 90%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 35px auto;
}
.image__container{
    margin-top: 15px;
    margin-bottom: 15px;
}
.image__container ul{
    list-style-type: circle;
    padding: 10px;
    margin-left: 30px;
}
.image__container li{
    margin: 15px 0;
}
.image__content {
    margin-left: 35px;
    margin-top: 20px;
}
.vabilo{
    width: 90%;
    margin: 30px 30px;
    text-align: center;
    padding: 10px 30px;
    padding-bottom: 20px;
    height: fit-content;
    overflow: scroll;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--purple);
}
.vabilo__content{
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 1rem 2rem hsl(0 0% 0% / 50%);

}
.vabilo h3{
    width: 100%;
    height: 2em;
    line-height: 2em;
    vertical-align: center;
    background-color: var(--purple);
    font-weight: 500;
}
.vabilo p{
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: left;
}
.vabilo a{
    background-color: var(--purple);
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.vabilo::-webkit-scrollbar{
    display: none;
}

.odziv{
    width: 90%;
    margin: 30px 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px 30px;
    height: 350px;
    overflow: scroll;
    background-color: var(--purple);

}
.odziv__content{
    background-color: white;
    padding: 15px;
    box-shadow: 0 1rem 2rem hsl(0 0% 0% / 50%);
    margin-bottom: 10px;
}
.odziv h3{
    font-weight: 500;
}
.odziv::-webkit-scrollbar{
    display: none;
}
#kontakt{
    width: 70%;
    margin: 0 auto;
}
.form{
    background-color: var(--skin);
    margin: 0 auto;
    padding: 30px;
}
.form h3{
    width: 70%;
    font-weight: 400;
    text-align: center;
    margin: 0 auto;
    font-size: 1.3em;
}
form{
    width: 70%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    margin: 15px auto;

}
input{
    border: 2px black solid;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: transparent;
}
textarea{
    border: 2px black solid;
    margin: 15px 0;
    background-color: transparent;
}
form label{
    font-size: 1.3em;
}
form button{
    background-color: black;
    color: white;
    width: fit-content;
    padding: 6px 10px;
    border: none;
}
.delavnice__btns{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    margin: 10px auto;
}
.btn{
    margin: 4px;
    font-size: 1.1em;
    background-color: transparent;
    border: 3px var(--purple) solid;
    transition: background-color 0.3s ease-in-out;
}
.btn:hover{
    background-color: var(--purple);
}
.delavnica__content{
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: none;
    font-size: 1.2em;
}
.delavnica__galerija{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 5px;
}
.delavnica__content p{
    margin-bottom: 20px;
}
.delavnica__content button{
    background-color: var(--purple);
    border: none;
    padding: 6px 10px;

}
.prijava{
    opacity: 0;
    transition: opacity 1.4s ease-in;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-size: 0.8em;
}
.prijava input{
    border: none;
    border-bottom: 2px black solid;
}
.prijava button {
    color: black;
    padding: 3px 8px;
    width: 20%;
}

/* main */

/* izdelki */
#izdelki{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#izdelki h2{
    margin-top: 10px;
    text-align: center;
    width: 100%;
    font-size: 1.6em;
}
#izdelki p{

    text-align: center;
}
#izdelki img{
    box-shadow: none;
    transition: 0.2s ease-in;
}
#izdelki img:hover{
    transform: scale(1.03);
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
    margin-top: 10px;
    width: 100%;
}
.column {
    flex: 90%;
    max-width: 90%;
    padding: 0 4px;
}
.column img {
    vertical-align: middle;
    width: 80%;
    box-shadow: 0 1rem 2rem hsl(0 0% 0% / 43%);
    margin: 15px auto;
}

/* izdelki */

@media screen and (min-width: 1000px){
    /* nav */
    .nav{
        width: 0;
    }

    /* nav */

    /* main */
    main{
        background-position: center center;
    }
   .main__container{
       width: 80%;
       font-size: 1.2em;
   }
   .delavnica__content{
       width: 85%;
   }
   .delavnice__btns{
       width: 85%;
   }
   .image__container{
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: flex-start;

   }

   .main__container img{
       width: 250px;
   }
   .vabilo{
       width: 50%;
       height: 450px;
       margin: 0 30px;
   }
   .odziv{
       width: 50%;
       height: 450px;
       margin: 0 30px;
   }
   .form{
       display: flex;
       justify-content: center;
       align-items: center;
       align-content: space-around;
   }
   form{
       width: 50%;
       margin-right: 100px;
   }
   .form h3{
       width: 40%;
       font-size: 1.4em;
   }
   .btn{
       font-size: 1em;
   }
   .prijava{
       width: 50%;
       margin: 0;
       font-size: 1em;
   }

    /* main */

    /* izdelki */
    .column {
        flex: 30%;
        max-width: 100%;
        padding: 0 4px;
    }
    /* izdelki */
}

@media screen and (min-width: 1200px){
    /* nav */
    nav{
        position: fixed;
    }
    .nav{
        width: 20vw;

    }
    .nav__logo{
        font-size: 2.2em;
    }
    .nav__list{
        font-size: 1.2em;
        margin-top: 100px;
    }
    /* nav */
    /* main */
    main{
        margin-left: 20vw;
    }
    .main__nav{
        display: none;
    }
    .main__container{
        width: 75%;
    }
    .delavnica__content{
        width: 75%;
    }
    .delavnice__btns{
        width: 75%;

    }
    .bars{
        display: none;
        background-color: transparent;
        border: none;
    }
    #h2{
        display: block;
        margin-bottom: 20px;
    }
    .btn{
        font-size: 1.1em;
    }
    .form h3{
        font-size: 1.5em;
    }
    form{
        font-size: 1.1em;
    }
    /* main */
}


/* java */
.show{
    width: 100vw;
    max-height: 100vh;
    justify-content: flex-start;
}
/* java *
