
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    width: 100vw;
    overflow-x: hidden;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
ul{
    list-style-type: none;
    padding: 0;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: black;
}
/*CSS reset */

:root{
    --green: rgba(176,181,107,0.1);
    --skin: rgba(255,230,153,1);
    --purple: rgba(228,136,171,1);
    --grey: rgba(175,171,171,0.7);
}
/* body */
body{
    display: flex;
    font-family: 'Fredoka', sans-serif;
}

/* body */

/* nav */
.nav{
    width: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: width 0.2s ease-in-out;
    font-size: 1em;
}
.nav__logo{
    margin-top: 20px;
    height: 6%;
    font-size: 3.5em;
    font-family: 'Great Vibes', cursive;
    font-weight: 600;
}
.nav__list{
    font-size: 1.5em;
    margin-top: 150px;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.nav__link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    font-size: 1.2em;
    overflow: hidden;
}
.nav__list li{
    text-align: center;
    padding: 10px 0;
    width: 100%;
    transition: background-color 0.2s ease-in;
}
.nav__list li:hover {
    background-color: rgba(150, 150, 150, 0.2);
}
/* nav */


/* main */
.heroImage{
    height: 92vh;
    background-image: url("media/naslovnaSLika.jpg");
    background-size: cover;
    background-position: top center;
}
.hero__content{
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 4em;
    font-size: 1em;
}
.hero__content li{
    margin: 20px 0;
}
.hero__content h3 a{
    font-weight: 400;
    color: white;
    background-color: var(--purple);
    width: fit-content;
    padding: 8px 20px;
    box-shadow: 4px 4px black;
    font-size: 0.7em;
}

.line{
    width: 30%;
    height: 3px;
    background-color: var(--purple);
    transition: width 0.3s ease-in-out;
}

.col-lg-4:hover  .line{
    width: 100%;
}

.fa-check{
    color: var(--purple);
    margin-right: 10px;
}

.grey__line{
    width: 80%;
    height: 2px;
    background-color: rgba(150, 150, 150, 0.3);
    margin: 20px auto;
}

main{
    width: 100vw;
    line-height: 1.6em;
    height: fit-content;
    min-height: 100vh;
    background-color: rgba(243,243,243,0.7);
    font-size: 1.2em;
}

.main__nav{
    height: 8vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
    position: sticky;
    top: 0;
    z-index: 5;
}
.col-lg-4{
    padding: 20px;
    transition: 0.5s ease-in-out;
}
.col-lg-4:hover{
    transform: scale(1.1);
}
.main__nav h1{
    color: white;
    letter-spacing: 6px;
    font-weight: 400;
    width: 100%;
    height: auto;
    font-size: 1.5em;
    text-align: center;
    margin: 0;
}
.main__nav button{
    background-color: transparent;
    border: none;
    position: absolute;
    font-size: 1.3em;
    color: white;
    right: 3%;
}
.main__container{
    width: 100%;
    margin: 15px auto;
    padding: 15px;
    text-align: center;
}

main h2{
    color: var(--purple);
    margin: 0 0;
    font-weight: 400;
    font-size: 1.3em;
    height: 15%;

}
.subcontainer{
    width: 95%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}
.subcontainer__content{
    padding: 10px;
    padding-top: 5px;
    border: 1px lightgrey solid;
    text-align: left;
}
.subcontainer li{
    margin: 15px 0;
}
.fa-star{
    color:  gold;
}
.fa-dot-circle{
    margin: 0 5px;
    font-size: 0.8em;
}
.pogojiUporabe h2{
    font-weight: 500;
}
.pogojiUporabe p{
    margin-bottom: 20px;
}
.bold{
    font-weight: 500;
    margin-left: 10px;
}
#h2{
    display: none;
}
.main__container img{
    width: 90%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 35px auto;

}
.image__container{
    margin-top: 15px;
    margin-bottom: 15px;
}
#kontakt{
    background-color: transparent;
    box-shadow: none;
    height: 100vh;
}
#kontakt .subcontainer__content{
    border: none;
}
.kontak__row{
    padding: 15px;
    border-bottom: 2px lightgrey solid;
}
.kontak__vrsta {
    color: var(--purple);
}
form{
    display: flex;
    flex-direction: column;
}

input{
    border: 2px black solid;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: transparent;
}
textarea{
    border: 2px black solid;
    margin: 15px 0;
    background-color: transparent;
}

form button{
    background-color: black;
    color: white;
    width: fit-content;
    padding: 6px 10px;
    border: none;
}
.delavnice__btns{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 5px;
    margin: 5px auto;
}
.btn{
    margin: 5px;
    font-size: 0.8em;
    background-color: transparent;
    border: 3px var(--purple) solid;
    transition: background-color, color 0.3s ease-in-out;
    width: 46%;
    color: black;
    padding: 4px;
    height: available;
}
.btn:hover{
    background-color: var(--purple);
    color: white;
}
.btn:focus{
    box-shadow: none;
}
.delavnica__content{
    padding: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: none;
    font-size: 1.1em;
    min-height: 60vh;
}
.delavnica__content h2{
    font-size: 1.2em;
    font-family: 'Quintessential', cursive;
    background-color: var(--purple);
    width: fit-content;
    color: white;
    padding: 6px 10px;

}
.delavnica__galerija{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
}
.delavnica_img_wraper{
    height: fit-content;
    width: 80%;
    object-fit: contain;
    margin: 10px auto;
}
.delavnica__galerija img{
     width: 100%;
    height: 100%;
}

.btn__prijava__block{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnprijava{
    margin: 10px auto;
    margin-bottom: 30px;
    background-color: var(--purple);
    border: none;
    padding: 6px 22px;
    border-radius: 30px;
    color: white;
}

/* main */

/* izdelki */
.izdelki{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.izdelki h2{
    text-align: center;
    width: 100%;
    font-size: 1.5em;
    margin-bottom: 10px;
}
.izdelki p{
    text-align: center;
}
.izdelki img{
    box-shadow: none;
    transition: 0.2s ease-in;
    width: fit-content;
}
.izdelki img:hover{
    transform: scale(1.03);
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;
    width: 100%;
}
.column {
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;

}
.column img {
    vertical-align: middle;
    width: 80%;
    height: fit-content;
    margin: 15px auto;
}

/* izdelki */

/* bio */
.bio{
    width: 80%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: fit-content;
}
.bio img{
    width: 60%;
    border: 3px var(--purple) solid;
    margin-bottom: 30px;
}
.bio__content{
    margin-left: 3%;
}
.bio h2{
    padding: 0;
    margin: 0;
}

/* bio */

/* footer */
.footer{
    background-color: black;
    height: fit-content;
    color: rgba(180, 180,180, 1);
    font-size: 0.6em;
}
.footer img{
    height: 12vh;
}
.footer .col-4{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding: 10px 0;
}
.footer .container{
    padding: 0;
}
.footer h3{
    font-family: 'Great Vibes', cursive;
    font-size: 1.5em;
    margin-top: 15px;
}
.footer .col-4:last-child{

}
/* footer */
@media screen and (min-width: 1000px){
    /* nav */
    .nav{
        width: 0;
    }

    /* nav */

    /* main */
    main{
        background-position: center center;
        font-size: 1.4em;
    }

   .main__container{
       width: 85%;

   }
   .subcontainer{
       flex-direction: row;

   }
   .delavnica__content{
       width: 85%;
   }
   .delavnica__content h2{
       margin-bottom: 15px;
       font-size: 1.5em;
   }
   .delavnice__btns{
       width: 85%;
       margin: 0 auto;
       padding-top: 10px;
   }
   .delavnica_img_wraper{
       margin: 10px;
       width: 350px;
   }
   .image__container{
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;

   }

    .main__container img{
        width: 250px;
        height: 300px;
    }

    .subcontainer__content{
        width: 50%;
        padding: 10px 15px;
    }
    .zasebnost{
        width: 100%;
    }
    .pogojiUporabe{
        width: 100%;
    }
   .btn{
       font-size: 0.6em;
       width: 30%;
   }
   .btn:focus-visible{
       display: none;
   }
   .prijava{
       font-size: 1em;
   }

    /* main */

    /* izdelki */
    .izdelki img{
        width: 80%;
        margin-bottom: 30px;

    }
    .column {
        flex: 40%;
        max-width: 100%;
        padding: 0 4px;
    }
    /* izdelki */
    /* bio */
    .bio{
        flex-direction: row;
    }
    .bio img{
        width: 40%;
    }
    /* bio */
    .footer .col-4{
        width: 30%;
        font-size: 1.3em;
    }
    .footer{
        font-size: 0.6em;
    }
}

@media screen and (min-width: 1200px){

    /* nav */
    nav{
        position: fixed;
    }
    .nav{
        width: 20vw;

    }
    .nav__logo{
        font-size: 3em;
    }
    .nav__list{
        font-size: 1.4em;
        margin-top: 100px;
    }
    /* nav */
    /* main */
    main{
        margin-left: 20vw;
        max-width: 80vw;
        font-size: 1.3em;
    }
    .heroImage{
        height: 100vh;
        width: 80vw;
        background-position: top right;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .hero__content{
        max-width: 50%;
        height: 90%;
        font-size: 1.4em;
        background-color: transparent;
        padding: 15px 30px;
        margin-left: 50px;
    }
    .hero__content li {
        margin: 30px 0;
    }
    .main__nav{
        display: none;
    }
    .main__container{
        width: 90%;
    }
    .delavnica__content{
        width: 75%;
    }

    .bars{
        display: none;
        background-color: transparent;
        border: none;
    }
    #h2{
        display: block;
        margin-bottom: 20px;
    }
    .delavnice__btns{

        width: 90%;
    }
    .btn{
        font-size: 0.9em;
        margin: 4px;
    }
    .column{
        flex: 30%;
        max-width: fit-content;
    }
    #kontakt{
        height: 70vh;
    }
    /* main */
    /* footer */
    .footer h3{
        padding-left: 15px;
    }
    .footer{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /* footer */
}


/* java */
.show{
    width: 100vw;
    max-height: 100vh;
    justify-content: flex-start;
}
/* java *
